*{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  transition: 0.5s;
}

section#menu{
    padding: 30px 200px;
    margin: 20px;
    border-radius: 16px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.left{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    list-style: none;
                    margin-right: 50px;
                    font-size: 18px;
                    a{
                        text-decoration: none;
                        color: #b0b0b0;
                    }
                    &:hover{
                        a{
                            color: #0D72FC;
                            font-family: "Poppins", serif;
                            font-weight: 600;
                            font-style: normal;
                        }
                    }
                }
            }
        }
        div.right{
          a.button{
            text-decoration: none;
            padding: 15px 30px;
            background-color: #0D72FC;
            color: #fff;
            border-radius: 50px;
            font-size: 18px;
            &:hover{
              font-family: "Poppins", serif;
              font-weight: 600;
              font-style: normal;
            }
          }
        }
    }
}
section#home{
  height: 95vh;
  margin: 0px 200px;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.left{
      display: inline-block;
      h6{
        margin: 0;
        margin-left: 30px;
        margin-bottom: 30px;
        font-size: 32px;
      }
      h3{
        font-size: 40px;
        b{
          color:#0D72FC;
          font-weight: 600;
        }
      }
      h1{
        font-size: 48px;
        margin-bottom: 30px;
        br{
  
        }
      }
      p{
        font-size: 18px;
        color: #b0b0b0;
        margin-bottom: 40px;
      }
      a.button{
        text-decoration: none;
        padding: 15px 30px;
        color: #3f3f3f;
        border:1px solid #3f3f3f;
        border-radius: 50px;
        font-size: 18px;
        margin-right: 30px;
        &:hover{
          font-family: "Poppins", serif;
          font-weight: 600;
          font-style: normal;
          transition: 0.5s;
          background-color: #0D72FC;
          color: #fff;
        }
      }
    }
    div.right{
      img{
        height: 95vh;
      }
    }
  }
}
section#about{
  background: #0D72FC;
  height: 100vh;
  div{
    h1{
      font-size: 48px;
      margin-bottom: 30px;
      color: #fff;
      text-align: center;
      padding: 80px 20px;
    }
    p{
      font-size: 18px;
      padding: 0 200px;
      text-align: center;
      color: #fff;
      font-weight: 400;
      margin-bottom: 40px;
    }
    div{
      a.button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        text-decoration: none;
        padding: 15px 30px;
        background-color: #0D72FC;
        color: #fff;
        border-radius: 50px;
        border: 1px solid #fff;
        font-size: 18px;
        margin-bottom: 30px;
        margin: 0 auto;
        &:hover{
          font-family: "Poppins", serif;
          font-weight: 600;
          font-style: normal;
          background-color: #fff;
          color: #0D72FC;
        }
        img{
          display: block;
          width: 30px;
        }
    }
    }
  }
}
section#qualification{
  height: 100vh;
  div{
    padding: 150px 200px;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      li{
        list-style: none;
        width: 30%;
        height: 100%;
        border: 1px solid #3f3f3f;
        border-radius: 16px 50px;
        &:hover{
          width: 32%;
          border: 1px solid #3f3f3f;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        h3{
          text-align: center;
          font-size: 24px;
          margin-top: 40px;
        }
        img{
          width: 200px;
          margin-left: 90px;
        }
        p{
          text-align: center;
          padding: 20px;
          height: 100px;
        }
        a{
          display: flex;
          justify-content: center;
          margin: 0 auto;
          width: 100px;
          text-decoration: none;
          color: #0D72FC;
          font-weight: 500;
          text-align: center;
          margin-bottom: 40px;
          &:hover{
            font-weight: 600;
          }
        }
      }
    }
  }
}
section#project{
  height: 100vh;
  background: #0D72FC;
  padding: 0 200px;
  div{
    h1{
      color: #fff;
      padding: 40px;
      text-align: center;
      font-size: 44px;
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      li{
        list-style: none;
        color: #000;
        background: #fff;
        border: 1px solid #3f3f3f;
        width: 30%;
        margin: 15px;
        border-radius: 50px 50px 4px 4px;
        &:hover{
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          width: 31%;
        }
        img{
          width: 150px;
          margin-left: 100px;
        }
        h4{
          color: #3f3f3f;
          text-align: center;
          font-size: 22px;
        }
        p{
          color: #3f3f3f;
          text-align: center;
          font-size: 14px;
          margin: 10px;
        }
        a{
          display: flex;
          justify-content: center;
          margin: 0 auto;
          width: 100px;
          text-decoration: none;
          color: #0D72FC;
          font-weight: 500;
          text-align: center;
          margin-bottom: 20px;
          &:hover{
            font-weight: 600;
          }
        }
      }
    }
  }
}
section#contact{
  height: 90vh;
  padding: 50px 200px;
  h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: -50px;
  }
  div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    div.left{
      width: 40%;
      padding: 30px;
      h3{
        font-size: 32px;
        margin-bottom: 30px;
        text-align: center;
      }
      p{
        font-size: 18px;
        text-align: center;
      }
    }
    div.right{
      width: 40%;
      padding: 30px;
      form{
        padding: 200px 0;
        input{
          width: 90%;
          padding: 15px;
          margin: 10px 0;
          border-radius: 50px;
          border: 1px solid #3f3f3f;
        }
        textarea{
          width: 90%;
          padding: 15px;
          margin: 10px 0;
          border-radius: 50px;
          border: 1px solid #3f3f3f;
        }
        button{
          width: 100%;
          padding: 15px;
          margin: 10px 0;
          border-radius: 50px;
          border: 1px solid #3f3f3f;
          background-color: #0D72FC;
          color: #fff;
          font-size: 18px;
          &:hover{
            font-family: "Poppins", serif;
            font-weight: 600;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          }
        }
  
      }
    }
  }
  div.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -100px;
    a{

    }
    img{
      width: 50px;
      padding: 0 40px;
      &:hover{
        width: 60px;
      }
    }
  }
}